<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/navbar :: head">
    <meta charset="UTF-8">
    <title>Users Index</title>
</head>
<body>
<nav th:include="partials/navbar :: navbar"></nav>
<h1 th:class="orange-text">All Users</h1>
<div class="row">
    <th:block th:each="user : ${users}">
        <div class="col s12 m6">
            <div class="card pink darken-2">
                <div class="card-content white-text">
                    <span class="card-title" th:text="${user.username.toUpperCase()}"></span>
                    <p>Email:
                        <span th:text="${user.email}"></span>
                    </p>
                    
                </div>
                <div class="card-action">
                   <th:block th:if="${user.posts}">
                       <a class = "btn dropdown-button pink orange white-text" href = "#"
                          th:data-activates="${user.id}">View Ads
                           <i class = "mdi-navigation-arrow-drop-down right pink lighten-4"></i></a>
                       <!-- Dropdown Structure -->
                       <ul th:id = "${user.id}" class = "dropdown-content">
                           <th:block th:each="post : ${user.posts}">
                               <li><a th:href="@{'/posts/'+ ${post.id}}" th:text="${post.title}" >TITLE
                               </a></li>
                           </th:block>
                       </ul>
<!--                       end dropdown-->
                   </th:block>
                </div>
                <div class="card-action  ">
                    <a class="waves-effect waves-light btn pink lighten-2 left-right white-text"
                       th:href="@{'/user/'+ ${user.id}}"
                    >View Profile</a>
                    <th:block th:if="${user.id == loggedInId}">
                        <a class="waves-effect waves-light btn pink lighten-2 left-right white-text"
                           th:href="@{'/user/edit/'+ ${user.id}}"
                        >Edit Profile</a>
                    </th:block>
                    <th:block th:if="${user.id != loggedInId}">
                        <a class="waves-effect waves-light btn pink lighten-2 left-right white-text"
                           th:href="@{'/user/edit/'+ ${user.id}}" disabled="true"
                        >Edit Profile</a>
                    </th:block>
                </div>
            </div>
        </div>
    </th:block>
</div>

<script>
    $('.dropdown-trigger').dropdown();
</script>

</body>
</html>